@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-smooth: "always";
}

.custom-grid-lines {
  background-image: linear-gradient(#0d0d0d50 0.05em, transparent 0.05em),
    linear-gradient(90deg, #0d0d0d50 0.05em, transparent 0.05em);
  background-size: 5rem 5rem;
}

@media screen and (min-width: 768px) {
  .custom-grid-lines {
    background-size: 8rem 8rem;
  }
}

@media screen and (min-width: 1440px) {
  .custom-grid-lines {
    background-size: 12rem 12rem;
  }
}
